.a1
{
    width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100";
}
.a2
{
    width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100";
}
.a3
{
    width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100";
}
.a4
{
    width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100";
}
.a5
{
    width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100";
}
.a6
{
    width: 25rem;
}
.a7
{
    width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100";
}
.toggled {
    overflow: visible;
    width: 6.5rem!important;
}
.toggled1 {
    width: 0!important;
    overflow: hidden;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #accordionSidebar {
    width: 250px; /* hoặc bất kỳ giá trị cố định nào bạn muốn */
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  
  .sidebar {
    flex-shrink: 0;
  }
  
  /* Đảm bảo nội dung bên trong sidebar không bị tràn */
  #accordionSidebar > * {
    width: 100%;
    box-sizing: border-box;
  }